<!doctype html>
<html>
    <head>
        <title>Welcome to Lala.js</title>
        <link type="text/css" rel="stylesheet" href="/assets/library.css" />
    </head>
    <body>
        <h1>Welcome to your first app built with <%= framework %></h1>
    </body>
</html>
